name: example
description: "Example app for vi_text_input_formatter"

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  vi_text_input_formatter:
    path: ../

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true